{% extends 'layouts/app/app.html' %}
{% load static %}
{% block title %}
    Compañias
{% endblock %}
{% block css %}
    <!--datatable css-->
    <link rel="stylesheet" href="{% static 'assets/css/datatables/dataTables.bootstrap5.min.css' %}"/>
    <!--datatable responsive css-->
    <link rel="stylesheet" href="{% static 'assets/css/datatables/responsive.bootstrap.min.css' %}"/>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex flex-wrap gap-2">
                                <a href="{{ maestro_create }}">
                                    <button type="button" class="btn btn-primary waves-effect waves-light"><i class="bx bx-plus-medical "></i>
                                        {{ maestro }}
                                    </button>
                                </a>
                            </div>
                        </div>
                        <p class="card-title text-center">Mantenedor de {{ maestro }} </p>
                        <table id="maestro_list"
                               class="table table-bordered dt-responsive nowrap table-striped align-middle"
                               style="width:100%">
                            <thead class="table-light">
                            <tr>
                                <th>id</th>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>GLN</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->
    </div>
{% endblock %}

{% block js %}
    <!--datatable js-->
    <script src="{% static 'assets/libs/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables/dataTables.bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/libs/datatables/dataTables.responsive.min.js' %}"></script>

    <!-- customs js -->
    <script src="{% static 'assets/js/modules/maestros/maestros.js' %}"></script>
{% endblock %}
